{% extends "common.html" %}
{% block additional_header %}
<script>
function submit(id, solver) {
    const button_id = "button_" + solver+ "_" + id;
    let button = document.getElementById(button_id);
    button.disabled = 'disabled';
    button.innerText = 'Submitting';

    let xhr = new XMLHttpRequest();
    xhr.open('POST', '/submit');
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onload = () => {
        if (xhr.status == 200) {
            const form = button.parentNode;
            const cell = form.parentNode;
            cell.removeChild(form);
        } else {
            button.innerText = xhr.response;
        }
    };
    xhr.send('{"id": ' + id + ', "solver": "' + solver + '"}');
}
</script>
{% endblock %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th data-column-id="id">ID</th>
            <th>問題</th>
            <th>#hole/#vert/ε</th>
            <th>dislike</th>
            <th>スコア</th>
            <th>Solutions</th>
        </tr>
    </thead>
    <tbody>
    {% for problem in problems %}
    <tr{% if problem.state %} class="table-{{problem.state}}"{% endif %}>
        <td>{{ problem.id }}</td>
        <td><a href="https://poses.live/problems/{{ problem.id }}"><img src="{{ problem.image }}" height="100" width="100"></a></td>
        <td>#hole {{ problem.num_holes }}<br>#vert {{ problem.num_verts }}<br>ε {{ problem.epsilon }}<br>({{ problem.epsilon // 1000 / 10}}%)</td>
        <td>{{ problem.dislikes or '-' }} / {{ problem.best_dislikes }}</td>
        <td>{{ problem.max_score }}</td>
        {% for solution in problem.solutions %}
            <td>
                <span>{{ solution.solver }}</span><br>
                <span>DL {{ solution.dislikes }}</span><br>
                <span>SC ({{ solution.score }})</span>
                {% if problem.state == 'danger' and loop.index == 1 %}
                <button type="button" id="button_{{solution.solver}}_{{problem.id}}" onclick="submit({{problem.id}}, '{{solution.solver}}')">Submit</button>
                {% endif %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}