{% extends "common.html" %}
{% block additional_header %}{% endblock %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th data-column-id="id">ID</th>
            <th>問題</th>
            <th>ε</th>
            <th>dislike</th>
            <th>スコア</th>
            <th>Solutions</th>
        </tr>
    </thead>
    <tbody>
    {% for problem in problems %}
    <tr{% if problem.state %} class="table-{{problem.state}}"{% endif %}>
        <td>{{ problem.id }}</td>
        <td><a href="https://poses.live/problems/{{ problem.id }}"><img src="{{ problem.image }}" height="100" width="100"></a></td>
        <td>{{ problem.epsilon }}<br>({{ problem.epsilon // 1000 / 10}}%)</td>
        <td>{{ problem.dislikes or '-' }} / {{ problem.best_dislikes }}</td>
        <td>{{ problem.max_score }}</td>
        {% for solution in problem.solutions %}
            <td>
                <span>{{ solution.solver }}</span><br>
                <span>DL {{ solution.dislikes }}</span><br>
                <span>SC ({{ solution.score }})</span>
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}