# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Libraries
/libs/glog_build
/libs/glog_vsbuild
/libs/mpir
/libs/yasm

# Executables
*.exe
*.out
*.app
/src/build
/src/solver
/src/judge
/src/test
/tools/__pycache__
/vs/.vs
/vs/packages
/vs/x64
/vs/test/x64
/vs/test/*.user
/vs/solver/x64
/vs/solver/*.user
/vs/judge/x64
/vs/judge/*.user

# logs
/src/*.log.*
/vs/solver/*.log.*

# temporary files
/scripts/solve_all.csv
/src/_HEAD.txt
/vs/solver/_HEAD.txt

# www
__pycache__/

# OpenCV
!/libs/opencv/**

# MPIR Windows
/libs/mpir-windows/gmp.h
/libs/mpir-windows/mpir.h
/libs/mpir-windows/msvc/vs19/.vs
/libs/mpir-windows/msvc/vs19/dll_mpir_gc/*.user
/libs/mpir-windows/msvc/vs19/dll_mpir_gc/Win32
/libs/mpir-windows/msvc/vs19/dll_mpir_gc/x64
/libs/mpir-windows/msvc/vs19/lib_mpir_cxx/*.user
/libs/mpir-windows/msvc/vs19/lib_mpir_cxx/Win32
/libs/mpir-windows/msvc/vs19/lib_mpir_cxx/x64
/libs/mpir-windows/msvc/vs19/lib_mpir_gc/*.user
/libs/mpir-windows/msvc/vs19/lib_mpir_gc/Win32
/libs/mpir-windows/msvc/vs19/lib_mpir_gc/x64
