# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Libraries
/libs/glog_build
/libs/glog_vsbuild

# Executables
*.exe
*.out
*.app
/src/build
/src/solver
/src/judge
/src/test
/tools/__pycache__
/vs/.vs
/vs/packages
/vs/x64
/vs/test/x64
/vs/test/*.user
/vs/solver/x64
/vs/solver/*.user
/vs/judge/x64
/vs/judge/*.user

# logs
/src/*.log.*
