[submodule "libs/glog"]
	path = libs/glog
	url = https://github.com/google/glog.git
[submodule "libs/mpir"]
	path = libs/mpir
	url = https://github.com/wbhart/mpir
[submodule "libs/yasm"]
	path = libs/yasm
	url = https://github.com/yasm/yasm/
